<div class="row">
  <div class="col s12 offset-s2">
    <div class="card">
      <div class="center-align">
        <h2>Create</h2>
      </div>
      <form class="col s12 white" #BookingForm="ngForm" (ngSubmit)="OnSubmit(BookingForm)">

        <div class="row">
          <div class="input-field col s6">
            <input class="validate" type="text" name="Name" #Name="ngModel" [(ngModel)]="bookingService.selectedBooking.Name" required>
            <label>Name</label>
            <div class="validation-error" *ngIf="Name.invalid && Name.touched">This Field is Required.</div>

          </div>
          <div class="input-field col s6">
            <input class="validate" type="text" name="Mobile" #Mobile="ngModel" [(ngModel)]="bookingService.selectedBooking.Mobile" required>
            <label>Mobile</label>
            <div class="validation-error" *ngIf="Mobile.invalid && Mobile.touched">This Field is Required.</div>

          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input class="validate" type="text" name="Email" #Email="ngModel" [(ngModel)]="bookingService.selectedBooking.Email" [pattern]="emailPattern"
              required>
            <label data-error="Invalid Email!">Email</label>
          </div>

          <div class="input-field col s6">
            <input class="validate" type="date" name="BookedDate" #BookedDate="ngModel" [(ngModel)]="bookingService.selectedBooking.BookedDate"
              required>
            <label>Booked Date</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <label>Treatment</label>
            <br>
            <br>

            <select class="browser-default" name="TreatmentId" #TreatmentId="ngModel" [(ngModel)]="bookingService.selectedBooking.TreatmentId" required>
              <option value="" disabled selected>--Select treatment--</option>
              <option *ngFor="let treatment of treatments1" value={{treatment.id}}>
                {{treatment.treatmentTitle}}
              </option>
            </select>
          </div>
          <div class="input-field col s6">
            <label>Time Slot</label>
            <br>
            <br>

            <select class="browser-default" name="TimeSlotId" #TimeSlotId="ngModel" [(ngModel)]="bookingService.selectedBooking.TimeSlotId" required>
              <option value="" disabled selected>--Select time--</option>
              <option *ngFor="let time of timeslot" value={{time.id}}>
                {{time.timeSlotTitle}}
              </option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="Note" #Note="ngModel" [(ngModel)]="bookingService.selectedBooking.Note">
            <label>Note</label>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-8">
            <button [disabled]="!BookingForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
              <i class="fa fa-floppy-o"></i> Submit</button>
          </div>
          <div class="form-group col-md-4">
            <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(BookingForm)">
              <i class="fa fa-repeat"></i> Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
